# --- For-Bot-Working --------- #
pyrogram
pyrofork==2.3.38
TgCrypto
pyromod==3.1.6
schedule
APscheduler
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiofiles
asyncio